interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Flickr&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="1178458"
        pageid="1178458" ns="0" title="Flickr"><revisions><rev timestamp="2025-01-18T07:21:27Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
