interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://es.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Atoyac_&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Atoyac_"
        to="Atoyac" /></normalized><pages><page _idx="703527" pageid="703527" ns="0"
        title="Atoyac"><revisions><rev timestamp="2024-08-09T16:19:09Z" /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://es.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Atoyac_%28Veracruz%29&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Atoyac_(Veracruz)"
        to="Atoyac (Veracruz)" /></normalized><pages><page _idx="10979027" pageid="10979027"
        ns="0" title="Atoyac (Veracruz)"><revisions><rev timestamp="2024-08-26T01:35:08Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
