interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Black_Thursday_&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Black_Thursday_"
        to="Black Thursday" /></normalized><pages><page _idx="2547445" pageid="2547445"
        ns="0" title="Black Thursday"><revisions><rev timestamp="2024-12-24T03:31:39Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Black_Thursday_%281851%29&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Black_Thursday_(1851)"
        to="Black Thursday (1851)" /></normalized><pages><page _idx="48352711" pageid="48352711"
        ns="0" title="Black Thursday (1851)"><revisions><rev timestamp="2017-04-30T16:41:55Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
