interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://nl.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Mauretania_&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Mauretania_"
        to="Mauretania" /></normalized><pages><page _idx="203414" pageid="203414"
        ns="0" title="Mauretania"><revisions><rev timestamp="2025-01-06T17:09:50Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://nl.wikipedia.org/w/api.php?action=query&prop=revisions&titles=Mauretania_%28schip%2C_1907%29&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="Mauretania_(schip,_1907)"
        to="Mauretania (schip, 1907)" /></normalized><pages><page _idx="203412" pageid="203412"
        ns="0" title="Mauretania (schip, 1907)"><revisions><rev timestamp="2024-08-16T08:34:47Z"
        /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
