interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&prop=revisions&titles=File%3AAiracuda_Bell_XFM-1_&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="File:Airacuda_Bell_XFM-1_"
        to="File:Airacuda Bell XFM-1" /></normalized><pages><page _idx="-1" ns="6"
        title="File:Airacuda Bell XFM-1" missing="" /></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&prop=revisions&titles=File%3AAiracuda_Bell_XFM-1_%2815954491367%29.jpg&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><normalized><n from="File:Airacuda_Bell_XFM-1_(15954491367).jpg"
        to="File:Airacuda Bell XFM-1 (15954491367).jpg" /></normalized><pages><page
        _idx="38857785" pageid="38857785" ns="6" title="File:Airacuda Bell XFM-1 (15954491367).jpg"><revisions><rev
        timestamp="2024-06-25T11:56:12Z" /></revisions></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
