interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=revisions&titles=DoesNotExist&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="-1"
        ns="0" title="DoesNotExist" missing="" /></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=revisions&titles=DoesNotExist.&rvprop=timestamp&format=xml
  response:
    body:
      string: <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="-1"
        ns="0" title="DoesNotExist." missing="" /></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 149.40.102.50
    status:
      code: 200
      message: OK
version: 1
